@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap');
body
{
    font-family : 'Raleway', sans-serif ;
}
h2
{
    font-size: 22px;
}
h4
{
    font-size: 19px;
}
p
{
    font-size: 15px;
}
.fas
{
    font-size: 15px;
}
/*en tête*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
#logo > img
{
    height: 40px;
}

header > nav > ul
{
    display: flex;
    flex-direction: row;   
    list-style: none;
}
header > nav > ul > li > a
{
    padding: 30px;
    text-decoration: none;
    color: black;
}
header > nav > ul > li > a:hover
{
    color: #0065FC;
    border-top: 1px #0065FC solid;
}
header > nav > ul > div > li > a
{
    color:#0065FC;
    font-weight: bold;
    text-decoration: none;
    padding: 30px;
}

.section1
{
    display: flex;
    flex-direction:column;  
}
/*barre de recherche*/
#recherche
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px; 
}
#recherche > .map
{
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    height: 20px;
    width: 20px;
    padding: 10px 10px 10px 15px;
}
.search
{
    height: 40px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 0.5px #F2F2F2 solid ;
    padding-left: 20px;
}
#recherche > .bouton-submit
{
    color: white;
    background-color:#0065FC ;
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    width: 100px;
    border: none;
    cursor: pointer;
    
}
#vacances
{
    display: flex;
    flex-direction:row;
    align-items: center;
}
#vacances > ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
#vacances > ul > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    border-left: none;
}
#vacances > ul > div > li
{
padding: 10px;
font-weight: bold;

}
.icone
{
    color:#0065FC ;
    padding:15px 15px 15px 15px ;
    border-radius: 50px;
   background-color: #DEEBFF ; 
}
.info-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info
{
    padding: 10px 15px 10px 15px;
    color:#0065FC ;
    border: 2px #F2F2F2 solid ;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
}

.section2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.grandeSection
{
    display: flex;
    flex-direction:column;  
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 20px;
}
#partie2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
#partie2 > ul
{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
flex-wrap: wrap;
align-items: center;
}
#partie2 > ul > li > div
{
 margin: 20px;   
background-color: white;
border-radius: 20px;
padding: 4px;
box-shadow: 2px 2px 20px rgb(190, 192, 194);
line-height: 1.5px;
}
#partie2 > ul > li > .hebergement > img
{
    height: 120px;
    border-radius: 20px 20px 0px 0px;

}
.fa-star
{
    font-size: 12px;
}
.active
{
    color:#0065FC;
    height: 10px;
}
.inactive
{
    color: #F2F2F2;
    height: 10px;
}
aside
{
    display: flex;
    flex-direction:column; 
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 20px;
    align-items: flex-start;
}
aside > ul
{
    display: flex;
    flex-direction:column;
    list-style: none;
}
aside > ul > li>  .hebergement
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin: 10px 50px 10px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(190, 192, 194);
}
#informations
{
    padding-left: 20px;
}
#informations > div
{
    height: 20px;
}
 aside > ul > li > .hebergement > img
{
    height: 155px;
    border-radius: 20px 0px 0px 20px;
    margin: 4px;
}
.section3
{
display: flex;
flex-direction: column;
}
.section3 > ul 
{
display: flex;
flex-direction: row;
list-style: none;
flex-wrap: wrap;
justify-content: space-between;
}
.section3 > ul > .activite > li
{
margin: 10px 0px 20px 0px;
border: 1px #F2F2F2 solid;
border-radius: 20px;
box-shadow: 5px 5px 10px #F2F2F2;

}
.section3 > ul > .activite > li > img
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}
.section3 > ul > .grand > li > img
{
height: 400px;
}
.section3 > ul > .activite
{
    display: flex;
    flex-direction: column;
}
footer
{
   background-color: #F2F2F2; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
footer > div
{
    line-height: 1px;
    margin: 30px;
}
#àpropos ,#noshebergements
{
    width: 25%;
}
#assistance
{
    width: 30%;
}
