@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap');
body
{
    font-family : 'Raleway', sans-serif ;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo > img
{
    height: 40px;
}

header > nav > ul
{
    display: flex;
    flex-direction: row;   
    list-style: none;
}
header > nav > ul > li > a
{
    padding: 20px;
    color: #0065FC;
}
header > nav > ul > li > a > div
{
    color:gray ;
}
.section1
{
    display: flex;
    flex-direction:column;  
}
#recherche
{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
#vacances
{
    display: flex;
    flex-direction:row;

}
#vacances > ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
#vacances > ul > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}
.icone
{
    color:#0065FC ;
    padding:10px 10px 10px 10px ;
    border-radius: 50px;
   background-color: #DEEBFF ; 
}
.section2
{
    display: flex;
    flex-direction:column;  
    
}
#partie1 , #partie2 ,#partie3
{
    background-color: #F2F2F2;
    max-width: 60%;
}
#partie2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
#partie2 > ul
{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
flex-wrap: wrap;
}
#partie2 > ul > li
{
    margin: 0px 20px 20px 0px;
background-color: white;
}
#partie2 > ul > li > .hebergement > img
{
    height: 120px;
}
.active
{
    color:#0065FC;
}
.inactive
{
    color: gray;
}
#partie3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside
{
    display: flex;
    flex-direction:column; 
    max-width: 30%;
    background-color: #F2F2F2;
    margin: 20px 20px 20px 20px;
}
aside > ul
{
    display: flex;
    flex-direction:column;
    list-style: none;
}
aside > ul > li>  .hebergement
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin: 10px 50px 10px 10px;
}
#informations
{
    padding-left: 20px;
}
 aside > ul > li > .hebergement > img
{
    height: 90px;
}

.section3
{
display: flex;
flex-direction: column;
background-color: #F2F2F2;
margin: 20px 20px 20px 20px;
}
.section3 > ul 
{
display: flex;
flex-direction: row;
list-style: none;
flex-wrap: wrap;
}
.section3 > ul > li
{
    padding: 30px;
}
.section3 > ul > li > #activite > img
{
    height: 200px;
}
footer
{
   background-color: #F2F2F2; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}