@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap');
/*VERSION ORDINATEUR*/
    body
    {
        font-family : 'Raleway', sans-serif ;
        margin: 0;
    }
    h1
    {
        margin-bottom: 0;
    }
    h2
    {
        font-size: 20px;
        margin-bottom: 1px
    }
    h4
    {
        font-size: 18px;
    }
    p
    {
        font-size: 15px;
    }
    .fas
    {
        font-size: 15px;
    }
    /*en tête*/
    header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }
    #logo > img
    {
        height: 40px;
        object-fit: cover;
    }
    
    header > nav > ul
    {
        display: flex;
        flex-direction: row;   
        list-style: none;
    }
    header > nav > ul > .ancre > a
    {
        padding: 30px;
        text-decoration: none;
        color: black;
    }
    header > nav > ul > .ancre > a:hover
    {
        color: #0065FC;
        border-top: 1px #0065FC solid;
    }
    header > nav > ul > .s-inscrire > a
    {
        color:#0065FC;
        font-weight: bold;
        text-decoration: none;
        padding: 30px;
    }
    main
    {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section1
    {
        display: flex;
        flex-direction:column;  
    }
    /*barre de recherche*/
    #recherche
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #recherche > .map
    {
        border-radius: 10px 0px 0px 10px;
        background-color: #F2F2F2;
        height: 20px;
        width: 20px;
        padding: 10px 10px 10px 15px;
    }
    .search
    {
        height: 40px;
        width: 230px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        border: 0.5px #F2F2F2 solid ;
        padding-left: 20px;
    }
    #recherche > .bouton-submit
    {
        color: white;
        background-color:#0065FC ;
        border-radius: 0px 10px 10px 0px;
        height: 40px;
        width: 100px;
        border: none;
        cursor: pointer;
    }
    .visible-mobile
    {
        display: none;
    }
    .visible-pc
    {
        display: inline;
    }
    #vacances
    {
        display: flex;
        flex-direction:row;
        align-items: center;
    }
    #vacances > ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    #vacances > ul > li
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
        margin-left: 10px;
        border: 2px rgb(231, 232, 233) solid;
        border-radius: 50px;
        border-left: none;
    }
    #vacances > ul > li > p
    {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold;
        margin: 0;
    
    }
    .icone
    {
        color:#0065FC ;
        width:50px ;
        height:50px ;
        border-radius: 50px;
        background-color: #DEEBFF ;
        align-items: center; 
        font-size: 20px;
    }
    .info-content
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .info
    {
        padding: 10px 15px 10px 15px;
        color:#0065FC ;
        border: 2px #F2F2F2 solid ;
        border-radius: 50px;
        margin-right: 10px;
        font-size: 12px;
    }
    
    .section2
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .grandeSection
    {
        display: flex;
        flex-direction:column;  
        background-color: #F2F2F2;
        width: 65%;
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #partie2
    {
        display: flex;
        flex-direction: row;
    }
    #partie2 > ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
    }
    #partie2 > ul > li 
    {
        width: 31.33%;
    }
    #partie2 > ul > li > .hebergement
    {
        margin-bottom: 30px;   
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 2px 2px 20px rgb(190, 192, 194);
        height: 90%;
    }
    #partie2 > ul > li > .hebergement > img
    {
        width: 40vh;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }
    .infoHotels
    {
        padding-left: 10px;
        line-height:3px;
    }
    .fa-star
    {
        font-size: 12px;
    }
    .active
    {
        color:#0065FC;
    }
    .inactive
    {
        color: rgb(190, 192, 194);
    }
    aside
    {
        display: flex;
        flex-direction:column; 
        width: 25%;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    aside > div
    {
        display: flex;
        flex-direction: row;
        align-items: baseline; 
        justify-content: space-between;
    }
    .fa-chart-line
    {
        font-size: 20px ;
    }
    aside > ul
    {
        display: flex;
        flex-direction:column;
        list-style: none;
        padding: 0;
    }
    aside > ul > li
    {
        display: flex;
        flex-direction: row;
        background-color: white;
        margin:15px 0;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgb(190, 192, 194);
        width: 100%;
        height: 34.33%;
        
    }
    .informations
    {
        padding-left: 10px;
        padding-right: 20px;
    }
    aside > ul > li > .informations > h4
    {
        margin-bottom: 0;
        margin-top: 5px;
        margin-right: 2px;
    }
    .informations > div
    {
        margin-top: 50px;
    }
     aside > ul > li > img
    {
        height: 94%;
        width: 40%;
        border-radius: 20px 0px 0px 20px;
        margin: 5px;
        object-fit: cover;
    }
    .section3
    {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .section3 > ul 
    {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .section3 > ul > li
    {
        width: 23%;
    }
    .section3 > ul > li > div
    {
        margin: 15px 0px;
        border: 1px #F2F2F2 solid;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #F2F2F2;
    }
    .section3 > ul > .activite > div > img
    {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .section3 > ul > .activite > div > h5
    {
        margin-left: 15px;
    }
    .section3 > ul > .grand  > div > img
    {
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    .section3 > ul >.activite
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*pieds de page*/
    footer
    {
        background-color: #F2F2F2; 
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    footer > div
    {
        line-height: 1px;
        margin: 30px;
    }
    #àpropos ,#noshebergements
    {
        width: 25%;
    }
    #assistance
    {
        width: 30%;
    }
    

/*VERSION MOBILE*/

@media ( max-width :763px) 
{
    body
    {
        padding: 0;
        margin: 0;
    }
    main
    {
        padding-left: 0;
        padding-right: 0;
    }
    h2
    {
        font-size: 25px;
    }
    h4
    {
        font-size: 20px;
    }
    p
    {
        font-size: 18px;
    }
    #logo > img
    {
        height: 50px;
    }
    header 
    {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        width: calc(100% - 20px);
    }
    header > nav > ul
    {
        padding: 0;
        width: 100%;
    }
    header > nav > ul > .ancre 
    {
        width: 50%;
        justify-content: space-between;
    }
    header > nav > ul > .ancre > a
    {
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 10px;
        padding-right: 70px;
        padding-left: 50px;
    }
    header > nav > ul > .ancre > a:hover
    {
        color: black;
        border-top: none;
    }
    header > nav > ul > .ancre > a:active
    {
        color:#0065FC ;
        border-bottom: 3px #0065FC solid;
    }
    header > nav > ul > .s-inscrire > a
    {
        position: absolute;
        top: 35px;
        right: 25px;          
        padding: 0;
    }
    .section1
    {
        padding-left: 20px;
        padding-right: 10px;
    }
    #recherche
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #recherche > .bouton-submit
    {
        border-radius: 10px 10px 10px 10px;
        width: 50px;
    }
    .visible-mobile
    {
        display: inline;
    }
    .visible-pc
    {
        display: none;
    }
    #vacances
    {
        flex-direction: column;
        align-items: initial;
    }
    #vacances > ul 
    {
        flex-wrap: wrap;
        padding-left: 0;
    }
    #vacances > ul > li
    {
        margin-bottom: 10px;
    }
    #vacances > h5
    {
        font-size: 17px;
        margin: 2px;
    }
    .section2
    {
        flex-direction: column-reverse;
    }
    .grandeSection
    {
        flex-direction:column;
        border-radius:0;
        width:calc(100% - 60px) ;
    }
    #partie2 > ul > li
    {
        height: 16%;
        width: 100%;
    }
    #partie2 > ul > li > .hebergement > .infoHotels
    {
        line-height: 1px;
    }
    #partie2 > ul > li > .hebergement > img
    {
        height: 15vh;
        width: 100%;
        object-fit: cover;
    }
    .section2 > aside
    {
        width:calc(100% - 40px) ;
        border-radius: 0;
    }
    .informations > div
    {
        margin-top: 50px;
    }
    .section3
    {
        flex-direction: column; 
        padding-left: 20px;
        padding-right: 20px;
        width:calc(100% - 40px) ;
    }
    .section3 > ul > li
    {
        width: 100%;
    }
    .section3 > ul > .activite > div > img
    {
        height: 20vh;
        width: 100%;
        object-fit: cover;
    }
    .section3 > ul > .grand > div > img
    {
        height: 20vh;
        width: 100%;
        object-fit: cover;
    }
    .section3 > ul > li > div > h5
    {
        font-weight: bold;
        font-size: 14px;
    }
    footer 
    {
        flex-direction: column;
        width:calc(100% - 80px) ;
        padding: 40px;
    }
    footer > div
    {
        line-height: 1px;
        margin:0;
        padding-bottom: 30px;
    }
    #àpropos ,#noshebergements
    {
        width: 100%;
    }
    #assistance
    {
        width: 100%;
    }
  
    
    /*VERSION TABLETTE*/
}
@media screen  and (min-width :763px) and (max-width:992px) 
{
    h2
    {
        font-size: 20px;
    }
    h4
    {
        font-size: 18px;
    }
    p
    {
        font-size: 15px;
    }
    header 
    {
        flex-direction: column;
    }
    header > nav > ul
    {
        justify-content: space-between;
    }
    header > nav > ul > .ancre > a:hover
    {
        color:#0065FC ;
        border-bottom: 2px #0065FC solid;
        border-top: none;
    }
    header > nav > ul > .ancre > a:active
    {
        color:#0065FC ;
        border-bottom: 2px #0065FC solid;
    }
    header > nav > ul > .ancre > a
    {
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 10px;
        padding-right: 30px;
    }
    #vacances > ul > li 
    {
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
    }
    .section2
    {
        flex-direction: column-reverse;
    }
    .grandeSection
    {
        flex-direction:column;
        border-radius:20px;
        width:calc(100% - 60px) ;
    }
    ul > li > .hebergement
    {
        height: 90%;
    }
    ul > li > .hebergement > .infoHotels
    {
        line-height: 18px;
    }
    ul > li > .hebergement > .infoHotels > h4
    {
        margin-bottom: 0;
    }
    #partie2 > ul > li > .hebergement
    {
        border-radius: 20px;
    }
    #partie2 > ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
    }
    #partie2 > ul > li > .hebergement > img
    {
        height: 20vh;
        width: 50vh;
        object-fit: cover;
    }

    .section2 > aside
    {
        width:calc(100% - 40px) ;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    aside > ul
    {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    aside > ul > li
    {
        width: 100%;
    }
    aside > ul > li > img
    {
        height: 25vh;
        width: 30vh;
        object-fit: cover;
    }
    aside > ul > li > .informations > h4
    {
        margin-top: 20px;
        font-size: 25px;
    }
    aside > ul > li > .informations > p
    {
        font-size: 20px;
    }
    .section3 > ul > li
    {
        width: 40%;
    }
    .section3 > ul > .activite > div > img
    {
        height: 30vh;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .section3 > ul > .grand  > div > img
    {
        height: 80vh;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}
@media screen  and (min-width:992px) and (max-width:1121px) 
{
    .infoHotels
    {
        line-height:18px;
    }  
}
@media (max-width:417px)
{
    aside > ul > li > img
    {
        height: 180px;
    } 
    .infoHotels
    {
        line-height:25px;
    }    
}